<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-center">Reservations</h3>
      <% @reservations.each do |reservation| %>
        <%= link_to reservation_path(reservation), class:"card-search-wrapper" do %>
          <div class="card-search my-2 mx-3">
            <%= cl_image_tag(reservation.car.photo, width: 600, height: 700, crop: :fill) %>
            <div class="card-search-infos">
              <h2> <%= reservation.car.brand %> <%= reservation.car.model %></h2>
              <p><strong>Date Reservation: </strong><%= reservation.starting_date %></p>
              <p><strong>Days: </strong><%= reservation.days %></p>
              <p><strong>Location: </strong><%= reservation.car.location %></p>
              <p><strong>Price: </strong><%= reservation.price %></p>
                <% if policy(reservation).destroy? %>
                <%= link_to reservation_path(reservation), method: :delete, data: {confirm: 'Are you sure?'} do %>
                <i class="fas fa-trash"></i>
                <% end %>
                <% end  %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-7">
      <div
        id="map"
        style="width: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
