<div class="banner-2 mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1434187008486-2768576189ee?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80)">
  <div class="container">
    <h1><strong>Edit your car</strong></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
          <%= simple_form_for @car do |f| %>
          <%= f.input :model, label: false, placeholder:"BMW" %>
          <%= f.input :brand, label: false, placeholder:"X3" %>
          <%= f.input :year, label: false,placeholder:"2016" %>
          <%= f.input :category, label: false,collection: Car::CATEGORIES %>
          <%= f.input :description, label: false,placeholder:"The BMW X3 is a compact luxury crossover SUV manufactured by German automaker BMW since 2003." %>
          <%= f.input :location, label: false, placeholder:"Madrid" %>
          <%= f.input :price, label: false, placeholder:"$250" %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <div class="container mx-auto my-3">
            <%= f.submit "Edit car", class: "btn btn-danger" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

