<div class="container d-flex justify-content-center">
  <div class="mt-5 d-flex flex-column">
    <ul>
      <% @cars.each do |car| %>
      <li>

        <div class="card-product mt-5">
          <%= cl_image_tag(car.photo, width: 500, height: 600, crop: :fill) %>

          <div class="card-product-infos">
            <h2><%= car.model %></h2>
            <p class="mt-5"><strong><%= car.brand %> </strong> <%= car.year %></p>
            <p class="mt-5"><strong><%= car.category %></strong></p>
            <p class="mt-5"><strong><%= car.description %></strong></p>

            <% if policy(car).edit? %>
            <%= link_to "Update", edit_car_path(car) %>
            <% end %>

            <% if policy(car).destroy? %>
            <%= link_to car_path(car), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-trash"></i>
            <% end %>
            <% end  %>

          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <button id="myBtn" class="btn btn-primary"><i class="fa fa-arrow-up"><i></button>
  </div>
</div>
