<h1 class="text-center mt-5">This are your cars</h1>
  <% if policy(Car).create? %>
  <%= link_to "Add car", new_car_path, class:"btn btn-primary" %>
  <% end %>

<div class="container d-flex justify-content-center">
  <div class="mt-5 d-flex flex-column">
    <ul>
      <% @cars.each do |car| %>
      <li>

        <div class="card-product mt-5">
          <%= cl_image_tag(car.photo, width: 500, height: 600, crop: :fill) %>

          <div class="card-product-infos">
            <h2><%= car.model %></h2>
            <p class="mt-5"><strong><%= car.brand %> </strong> <%= car.year %></p>
            <p class="mt-5"><strong><%= car.description %></strong></p>
            <p class="mt-5"><strong><%= car.description %></strong>

              <% if policy(car).edit? %>
              <%= link_to "Update", edit_car_path(car) %>
              <% end %>
            </p>
            <p class="mt-5"><strong><%= car.description %></strong>

            <% if policy(car).destroy? %>
            <%= link_to "Delete", car_path(car), method: :delete, data: {confirm: 'Are you sure?'}  %>
            <% end  %>
            </p>

          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
